#slider
{
    margin-top: 35%;
    margin-right: -15%;
   
    
}
#slider .item
 {
     height: 400px;

 }
 #slide1
 {
     background: url('1.jpg')  no-repeat;
     background-size: 100% 100%;
 }
 #slide2
 {
     background: url('2.jpg')  no-repeat;
     background-size: 100% 100%;
 }
 #slide3
 {
     background: url('3.jpg')  no-repeat;
     background-size: 100% 100%;
 }
 .carousel-caption #abc
 {
     font-size: 40px;
     color:white; 
     font-weight: bolder; 
     text-decoration: none;
     text-align: center;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, .7);
    font-family: 'Comic Sans MS', sans-serif;
 }

 .carousel-caption #ab
 {
    font-size: 18px;
    color:antiquewhite; 
    font-weight: bolder; 
    text-decoration: none;
    text-align: center;
 }
 
 

